# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
ehthumbs.db
Desktop.ini

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
/android/app/debug
/android/app/profile
/android/app/release

# VS Code
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Widget Preview related
.widget_preview/

# Synap Custom Rules (Confidential & Local)
Plan/
graphify-out/
.env
